html{
    box-sizing: border-box;
    font-family: sans-serif;
}
*,
*:before,
*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    background-color: #ffff;
    top: 0;
    left: 0;
}

.contenedor-navegacion{
    height: 5rem;
    border-bottom: 0.1rem;
    border-bottom-color:#7B6FD9;
    border-bottom-style: solid;
}

.logo{
    width: 6rem;
    height: 4rem;
}
.navegacion{
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
   
}
.titulo{
    font-size: 1.5rem;
    font-weight: bold;
}
.etapas-temas{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 50%;
}
.etapas-temas div{
    text-align: center;
    font-size: 0.8rem;
}
.etapas-temas img{
    height: 5rem;
    width: 5rem;
}
.contenedor-etapas{
    background-color:#f9fafc;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
}
.titulo-etapa-basica{
    background-color: #ffff;
    margin-left: 1rem;
    position: sticky;
    top:5rem;
    left: 0;
    
}
.contenedor-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.3rem;
}
.redes-sociales{
    display: flex;
    list-style: none;
}
.img-redes{
    width: 2rem;
    height: 2rem;
}
.autor{
    color: #7B6FD9;
}