
.contenedor{
    border:5px dotted blue;
    height: 700px;
    position: relative;
}
.posicion{
    width: 200px;
    height: 100px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.static{
    background-color: red;
    position: static;
}
.relative{
    background-color: yellow;
    position: relative;
    left: 50%;
    top: 50%;
    left: 0px;
    right: 0;
}
.absolute{
    position: absolute;
    left: 0;
    top: 0;
    background-color: skyblue;
}
.fixed{
    background-color: greenyellow;
    position: fixed;
    top: 60px;
    left: 80px;
    z-index: -5;
}
.sticky{
    background-color: aqua;
    position: sticky;
    top: 0;
}